@{
    ViewData["Title"] = "Instagram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Everlane.Models.Instagram>

<h1>Everlane Instagram</h1>

@foreach (var instagram in Model)
{
    <img src="@Html.DisplayFor(modelItem => instagram.Image)"/>

}

<div class="images">
</div>